body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn_3d{
  width: 250px;
  height: 50px;
  border-radius: 15px;
  background-color: #ef4f4f;
  color: aliceblue;
  font-size: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: .5s;
  box-shadow: 0 6px 0 #bb1542;
}

.btn_3d:active{
  box-shadow: none;
  transform: translateX(3px);
}

td{
  padding: 10px;
  text-align: center;
}
th{
  padding: 10px;
  text-align: center;
}